.version.horario /* version checker */
{
	color: #000007;
	background-color: #80A867;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	margin-right: auto;
	background-color: #0454A0;
	background-image: none;
	z-index: 1;
	width: 100%;
	border-color: #000000;
	margin-left: auto;
}

#u185
{
	z-index: 2;
	padding-bottom: 0px;
}

#u185_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u104
{
	z-index: 3;
	position: relative;
}

#u487
{
	position: relative;
	z-index: 10;
	padding-bottom: 11px;
	background-color: #FFFFFF;
	border-radius: 15px;
}

#u493-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 11px;
	position: relative;
	vertical-align: top;
	z-index: 29;
}

#u637
{
	margin-right: -10000px;
	border-color: #FFFFFF;
	opacity: 0.2;
	z-index: 12;
	background-color: #FFFFFF;
	border-radius: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	position: relative;
	filter: alpha(opacity=20);
	height: 64px;
}

#u658-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 37;
}

#u526
{
	margin-right: -10000px;
	border-color: #FFFFFF;
	opacity: 0.2;
	z-index: 11;
	background-color: #FFFFFF;
	border-radius: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	position: relative;
	filter: alpha(opacity=20);
	height: 64px;
}

#u529-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 33;
}

#pppu571
{
	width: 100%;
	position: relative;
}

#u571
{
	border-radius: 15px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	width: 100%;
	opacity: 0.2;
	position: relative;
	z-index: 13;
	filter: alpha(opacity=20);
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	height: 54px;
}

#u574-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 11px;
	position: relative;
	vertical-align: top;
	z-index: 41;
}

#u583
{
	border-radius: 15px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	width: 100%;
	opacity: 0.2;
	position: relative;
	z-index: 15;
	filter: alpha(opacity=20);
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	height: 123px;
}

#u586-6
{
	margin-right: -10000px;
	display: block;
	margin-top: 16px;
	position: relative;
	vertical-align: top;
	z-index: 49;
}

#ppu571,#ppu640
{
	margin-right: -10000px;
	padding-bottom: 0px;
}

#u640
{
	border-radius: 15px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	width: 100%;
	opacity: 0.2;
	position: relative;
	z-index: 14;
	filter: alpha(opacity=20);
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	height: 54px;
}

#u655-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 11px;
	position: relative;
	vertical-align: top;
	z-index: 45;
}

#pu583,#pu643
{
	margin-top: 7px;
	width: 100%;
}

#u643
{
	border-radius: 15px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	width: 100%;
	opacity: 0.2;
	position: relative;
	z-index: 16;
	filter: alpha(opacity=20);
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	height: 123px;
}

#u652-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 16px;
	position: relative;
	vertical-align: top;
	z-index: 55;
}

#u671
{
	margin-right: -10000px;
	opacity: 0.3;
	z-index: 75;
	background-color: #FFFFFF;
	border-radius: 200px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	margin-top: 43px;
	position: relative;
	filter: alpha(opacity=30);
	height: 97px;
}

#u661
{
	z-index: 81;
	margin-right: -10000px;
	margin-top: 65px;
	position: relative;
	background-color: transparent;
}

#u185-bw
{
	z-index: 2;
}

#u175-4
{
	margin-right: -10000px;
	position: relative;
	z-index: 5;
}

#u169,#u169-bw
{
	z-index: 4;
}

#pu646
{
	margin-right: -10000px;
}

#u646
{
	border-radius: 15px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	width: 100%;
	opacity: 0.2;
	position: relative;
	z-index: 18;
	filter: alpha(opacity=20);
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	height: 87px;
}

#u649-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 13px;
	position: relative;
	vertical-align: top;
	z-index: 63;
}

#u595
{
	margin-right: -10000px;
	border-color: #FFFFFF;
	opacity: 0.2;
	z-index: 17;
	background-color: #FFFFFF;
	border-radius: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	position: relative;
	filter: alpha(opacity=20);
	height: 87px;
}

#u598-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 13px;
	position: relative;
	vertical-align: top;
	z-index: 59;
}

#u448
{
	margin-top: 42px;
	position: relative;
	z-index: 87;
	padding-bottom: 23px;
	background-color: #FFE97C;
	border-radius: 200px;
}

#u449
{
	z-index: 88;
	margin-right: -10000px;
	margin-top: 24px;
	position: relative;
	background-color: transparent;
}

#u443
{
	z-index: 23;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u441
{
	z-index: 21;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u439
{
	z-index: 19;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#page_position_content,#pu185,#u185_position_content,#pu571,#pu640,#u661_img,#ppu646,#u449_img,#u443_img,#u441_img,#u439_img,#pu445-4
{
	width: 100%;
}

#u445-4
{
	margin-right: -10000px;
	position: relative;
	z-index: 25;
}

#u445-4_img
{
	vertical-align: top;
	display: block;
}

#u446-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 67;
	margin-right: -10000px;
}

#u447-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 71;
	margin-right: -10000px;
}

#u438
{
	z-index: 9;
	padding-bottom: 20px;
	background-color: #00C7FF;
}

#u438_align_to_page
{
	margin-right: auto;
	margin-bottom: -224px;
	margin-left: auto;
	position: relative;
}

#u451
{
	margin-right: -10000px;
	position: relative;
	z-index: 76;
	background-color: #0454A0;
	height: 15px;
}

#u452-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 251px;
	position: relative;
	vertical-align: top;
	z-index: 77;
}

#u705-4
{
	color: #FFFFFF;
	margin-right: -10000px;
	font-size: 10px;
	text-align: center;
	background-color: transparent;
	line-height: 12px;
	position: relative;
	margin-top: 252px;
	z-index: 83;
	min-height: 12px;
}

#u438-bw
{
	z-index: 9;
	margin-top: -224px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 324px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 599.6777777777775px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u185_position_content
	{
		margin-bottom: -20px;
	}

	#u104
	{
		height: 95px;
		width: 19.17%;
		left: 40.42%;
	}

	#pppu571
	{
		margin-top: 281px;
	}

	#ppu571
	{
		width: 25.73%;
		margin-left: 16.98%;
	}

	#u574-4,#u655-4
	{
		width: 70.45%;
		left: 14.58%;
	}

	#u671
	{
		width: 10.11%;
		left: 87.71%;
	}

	#u661
	{
		width: 5.63%;
		left: 90%;
	}

	#ppu646
	{
		margin-top: 7px;
		position: relative;
	}

	#ppu640,#pu646
	{
		width: 25.73%;
		margin-left: 50%;
	}

	#u586-6,#u652-4,#u649-4
	{
		width: 85.83%;
		left: 6.89%;
	}

	#u595
	{
		width: 25.73%;
		left: 16.98%;
	}

	#u598-4
	{
		width: 22.09%;
		left: 18.75%;
	}

	#u448
	{
		width: 12.92%;
		left: 74.8%;
	}

	#u449
	{
		width: 62.1%;
		left: 19.36%;
	}

	#u185,#u185-bw
	{
		min-height: 799.5277777777777px;
	}

	#u169
	{
		height: 65px;
	}

	#u169-bw
	{
		margin-top: 104px;
		height: 65px;
	}

	#u175-4
	{
		margin-top: 117px;
		width: 95.84%;
		left: 2.09%;
	}

	#u487
	{
		margin-right: -10000px;
		margin-top: 221px;
		width: 24.48%;
		left: 33.03%;
	}

	#u493-4
	{
		width: 89.79%;
		left: 5.11%;
	}

	#u526
	{
		margin-top: 305px;
		width: 25.73%;
		left: 16.98%;
	}

	#u637
	{
		margin-top: 305px;
		width: 25.73%;
		left: 50%;
	}

	#u439
	{
		margin-top: 797px;
		width: 10.32%;
		left: 57.3%;
	}

	#u441
	{
		margin-top: 797px;
		width: 10.32%;
		left: 34.07%;
	}

	#u443
	{
		margin-top: 785px;
		width: 11.57%;
		left: 15.32%;
	}

	#u529-4
	{
		margin-top: 321px;
		width: 22.09%;
		left: 18.75%;
	}

	#u658-4
	{
		margin-top: 321px;
		width: 22.09%;
		left: 51.78%;
	}

	#pu445-4
	{
		margin-top: 13px;
	}

	#u445-4
	{
		margin-top: -4px;
		width: 21.98%;
		left: 9.28%;
	}

	#u445-4_img
	{
		width: 100%;
	}

	#u446-4
	{
		width: 21.98%;
		left: 28.13%;
	}

	#u447-4
	{
		width: 21.98%;
		left: 51.46%;
	}

	#u438_align_to_page
	{
		max-width: 960px;
	}

	#u451
	{
		margin-top: 250px;
		width: 1.88%;
		left: 90.53%;
	}

	#u452-4
	{
		width: 7.82%;
		left: 90.21%;
	}

	#u705-4
	{
		width: 0.84%;
		left: 91.05%;
	}

	#u438,#u438-bw
	{
		min-height: 266px;
	}
}

@media (max-width: 323px)
{
	#muse_css_mq
	{
		background-color: #000143;
	}

	#bp_323.active
	{
		display: block;
	}

	#page
	{
		min-height: 600px;
		max-width: 323px;
	}

	#page_position_content
	{
		margin-bottom: -9px;
	}

	#u185_position_content
	{
		margin-bottom: -35px;
	}

	#u104
	{
		height: 44px;
		width: 16.41%;
		left: 40.56%;
	}

	#u487
	{
		margin-top: 177px;
		width: 24.46%;
		left: 33.13%;
	}

	#u493-4
	{
		width: 88.61%;
		left: 5.07%;
	}

	#ppu637
	{
		margin-top: 30px;
		position: relative;
		width: 100%;
	}

	#pu637
	{
		margin-right: -10000px;
		width: 25.7%;
		margin-left: 50.16%;
	}

	#u637
	{
		width: 100%;
	}

	#u658-4
	{
		margin-top: 16px;
		width: 85.55%;
		left: 7.23%;
	}

	#u529-4
	{
		margin-top: 16px;
		width: 21.99%;
		left: 18.89%;
	}

	#pppu571
	{
		margin-top: 7px;
	}

	#ppu571
	{
		width: 25.7%;
		margin-left: 17.03%;
	}

	#u574-4,#u655-4
	{
		width: 69.88%;
		left: 14.46%;
	}

	#u671
	{
		width: 10.22%;
		left: 87.62%;
	}

	#u661
	{
		width: 5.58%;
		left: 90.1%;
	}

	#u185,#u185-bw
	{
		min-height: 799.5191489361698px;
	}

	#u169
	{
		min-height: 37px;
	}

	#u169_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u175-4
	{
		margin-bottom: -11px;
		margin-top: 11px;
		width: 95.67%;
		left: 2.17%;
	}

	#u169-bw
	{
		min-height: 37px;
		margin-top: 50px;
	}

	#ppu646
	{
		margin-top: 42px;
	}

	#ppu640,#pu646
	{
		width: 25.7%;
		margin-left: 49.85%;
	}

	#u586-6,#u652-4,#u649-4
	{
		width: 85.55%;
		left: 7.23%;
	}

	#u526,#u595
	{
		width: 25.7%;
		left: 17.03%;
	}

	#u598-4
	{
		width: 21.99%;
		left: 18.89%;
	}

	#u448
	{
		width: 13.01%;
		margin-left: 74.93%;
	}

	#u449
	{
		width: 61.91%;
		left: 19.05%;
	}

	#pu443
	{
		margin-top: 16px;
		width: 100%;
	}

	#u443
	{
		width: 11.46%;
		left: 15.18%;
	}

	#u441
	{
		margin-top: 12px;
		width: 10.22%;
		left: 34.06%;
	}

	#u439
	{
		margin-top: 12px;
		width: 10.22%;
		left: 57.28%;
	}

	#pu445-4
	{
		margin-top: 14px;
	}

	#u445-4
	{
		width: 21.99%;
		left: 9.29%;
	}

	#u445-4_img
	{
		width: 98.6%;
	}

	#u446-4
	{
		width: 21.68%;
		left: 28.18%;
	}

	#u447-4
	{
		width: 21.68%;
		left: 51.4%;
	}

	#u438_align_to_page
	{
		max-width: 323px;
	}

	#u451
	{
		margin-top: 251px;
		width: 1.86%;
		left: 90.41%;
	}

	#u452-4
	{
		width: 7.74%;
		left: 90.1%;
	}

	#u705-4
	{
		width: 0.93%;
		left: 91.03%;
	}

	#u438,#u438-bw
	{
		min-height: 275px;
	}

	body
	{
		min-width: 320px;
	}
}

