.version.index /* version checker */
{
	color: #0000FA;
	background-color: #819904;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #0454A0;
	background-image: none;
	z-index: 1;
	width: 100%;
	border-color: #000000;
	min-height: 600px;
}

#u185_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u104
{
	z-index: 3;
	position: relative;
}

#u144-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 11;
}

#u142
{
	position: relative;
	z-index: 9;
	background-color: #FFFFFF;
	height: 19px;
}

#u145-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 15;
}

#u143
{
	position: relative;
	z-index: 10;
	background-color: #FFFFFF;
	height: 19px;
}

#u739
{
	z-index: 19;
	margin-top: 52px;
	position: relative;
}

#u739_img
{
	vertical-align: top;
	width: 100%;
	display: block;
}

#u185,#u185-bw
{
	z-index: 2;
}

#u175-4
{
	margin-right: -10000px;
	position: relative;
	z-index: 5;
}

#u169,#u169-bw
{
	z-index: 4;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 324px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u185
	{
		min-height: 799.6500000000001px;
		padding-bottom: 0px;
	}

	#u185_align_to_page
	{
		padding-bottom: 219px;
	}

	#u104
	{
		height: 95px;
		width: 19.17%;
		left: 40.42%;
	}

	#u145-4
	{
		margin-top: 343px;
		width: 26.98%;
		left: 34.8%;
	}

	#u143
	{
		width: 30.42%;
		left: 34.8%;
	}

	#u739
	{
		width: 5.63%;
		left: 48.34%;
	}

	#u185-bw
	{
		min-height: 799.6500000000001px;
	}

	#u169
	{
		height: 65px;
	}

	#u169-bw
	{
		margin-top: 104px;
		height: 65px;
	}

	#u175-4
	{
		margin-top: 117px;
		width: 95.84%;
		left: 2.09%;
	}

	#u142
	{
		margin-right: -10000px;
		margin-top: 349px;
		width: 30.42%;
		left: 34.8%;
	}

	#u144-4
	{
		margin-right: -10000px;
		margin-top: 318px;
		width: 26.98%;
		left: 34.8%;
	}

}

@media (max-width: 323px)
{
	#muse_css_mq
	{
		background-color: #000143;
	}

	#bp_323.active
	{
		display: block;
	}

	#page
	{
		max-width: 323px;
	}

	#u185
	{
		min-height: 799.1916666666667px;
		padding-bottom: 1px;
	}

	#u185_align_to_page
	{
		padding-bottom: 211px;
	}

	#u104
	{
		height: 44px;
		width: 16.41%;
		left: 40.56%;
	}

	#u144-4
	{
		margin-top: 274px;
		width: 26.94%;
		left: 34.68%;
	}

	#u145-4
	{
		margin-top: 71px;
		width: 26.94%;
		left: 34.68%;
	}

	#u142,#u143
	{
		width: 30.35%;
		left: 34.68%;
	}

	#u739
	{
		width: 5.58%;
		left: 48.3%;
	}

	#u185-bw
	{
		min-height: 799.1916666666667px;
	}

	#u169
	{
		min-height: 37px;
	}

	#u169_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u175-4
	{
		margin-bottom: -11px;
		margin-top: 11px;
		width: 95.67%;
		left: 2.17%;
	}

	#u169-bw
	{
		min-height: 37px;
		margin-top: 50px;
	}

	body
	{
		min-width: 320px;
	}

}

