.version.men_ /* version checker */
{
	color: #00000D;
	background-color: #D3980A;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #0454A0;
	background-image: none;
	z-index: 1;
	width: 100%;
	border-color: #000000;
}

#pu944
{
	margin-right: -10000px;
}

#u945
{
	z-index: 3;
	position: relative;
}

#u971
{
	margin-right: -10000px;
	position: relative;
	z-index: 28;
}

#u972
{
	margin-right: -10000px;
	margin-top: 24px;
	position: relative;
	z-index: 29;
}

#u182
{
	margin-right: -10000px;
	position: relative;
	z-index: 41;
	background-color: #FFFFFF;
	border-radius: 400px;
}

#u239
{
	z-index: 51;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u346-4
{
	margin-right: -10000px;
	position: relative;
	z-index: 65;
}

#u346-4_img
{
	vertical-align: top;
	display: block;
}

#u269
{
	z-index: 57;
	position: relative;
	background-color: transparent;
}

#u897
{
	margin-right: -10000px;
	position: relative;
	z-index: 42;
	background-color: #FFFFFF;
	border-radius: 400px;
}

#u831
{
	margin-right: -10000px;
	position: relative;
	z-index: 43;
	background-color: #FFFFFF;
	border-radius: 400px;
}

#u232
{
	z-index: 49;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u352-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 85;
}

#u262
{
	z-index: 55;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u391-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 89;
}

#u903
{
	margin-right: -10000px;
	position: relative;
	z-index: 44;
	background-color: #FFFFFF;
	border-radius: 400px;
}

#u843
{
	margin-right: -10000px;
	position: relative;
	z-index: 45;
	background-color: #FFFFFF;
	border-radius: 400px;
}

#u224
{
	z-index: 47;
	position: relative;
	background-color: transparent;
}

#u254
{
	z-index: 53;
	position: relative;
	background-color: transparent;
}

#u908
{
	margin-right: -10000px;
	position: relative;
	z-index: 46;
	background-color: #FFFFFF;
	border-radius: 400px;
}

#u294
{
	margin-right: -10000px;
	position: relative;
	z-index: 101;
	padding-bottom: 23px;
	background-color: #FFE97C;
	border-radius: 200px;
}

#u297
{
	z-index: 102;
	margin-right: -10000px;
	margin-top: 24px;
	position: relative;
	background-color: transparent;
}

#u307
{
	z-index: 59;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u315
{
	z-index: 61;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u327
{
	z-index: 63;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#u388-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 69;
}

#u400-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 73;
}

#u406-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 77;
}

#u412-4
{
	margin-right: -10000px;
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 81;
}

#u358-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 93;
	margin-right: -10000px;
}

#u394-4
{
	display: block;
	position: relative;
	vertical-align: top;
	z-index: 97;
	margin-right: -10000px;
}

#u966
{
	margin-right: -10000px;
	position: relative;
	z-index: 14;
}

#u964
{
	margin-right: -10000px;
	position: relative;
	z-index: 12;
}

#u962
{
	margin-right: -10000px;
	position: relative;
	z-index: 10;
}

#u968-4
{
	margin-right: -10000px;
	z-index: 16;
	margin-top: -4px;
	position: relative;
}

#u969-4
{
	margin-right: -10000px;
	z-index: 20;
	position: relative;
}

#u970-4
{
	margin-right: -10000px;
	position: relative;
	z-index: 24;
}

#u944,#u944-bw
{
	z-index: 2;
}

#u946-4
{
	margin-right: -10000px;
	position: relative;
	z-index: 5;
}

#u947,#u947-bw
{
	z-index: 4;
}

#pu961
{
	width: 0.01px;
	margin-right: -10000px;
}

#u961
{
	z-index: 9;
	padding-bottom: 20px;
}

#u974-4
{
	margin-right: -10000px;
	z-index: 31;
	position: relative;
}

#u975
{
	margin-right: -10000px;
	position: relative;
	z-index: 35;
	padding-bottom: 1px;
}

#u976-4
{
	z-index: 36;
	margin-right: -10000px;
	margin-top: 2px;
	position: relative;
	min-height: 12px;
}

#u961-bw
{
	z-index: 9;
}

#u179
{
	z-index: 40;
	padding-bottom: 20px;
	background-color: #00C7FF;
}

#u944_align_to_page,#u961_align_to_page,#u179_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u434-4
{
	margin-right: -10000px;
	display: block;
	margin-top: 251px;
	position: relative;
	vertical-align: top;
	z-index: 104;
}

#u427
{
	margin-right: -10000px;
	position: relative;
	z-index: 108;
	padding-bottom: 1px;
	background-color: #0454A0;
}

#u430-4
{
	color: #FFFFFF;
	margin-right: -10000px;
	font-size: 10px;
	text-align: center;
	background-color: transparent;
	line-height: 12px;
	position: relative;
	margin-top: 2px;
	z-index: 109;
	min-height: 12px;
}

#u179-bw
{
	z-index: 40;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

#u239_img,#u269_img,#u232_img,#u262_img,#u224_img,#u254_img,#u297_img,#u307_img,#u315_img,#u327_img,#u972_img,#u966_img,#u964_img,#u962_img
{
	width: 100%;
}

@media (min-width: 324px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 600px;
		max-width: 960px;
	}

	#u944_align_to_page
	{
		padding-bottom: 125px;
	}

	#u945
	{
		height: 95px;
		width: 19.17%;
		left: 40.42%;
	}

	#pu346-4
	{
		margin-top: 291px;
		position: relative;
		width: 100%;
	}

	#u346-4
	{
		margin-top: 4px;
		width: 19.17%;
		left: 10.63%;
	}

	#pu269
	{
		margin-top: 65px;
		position: relative;
		width: 100%;
	}

	#u269
	{
		margin-right: -10000px;
		width: 8.03%;
		left: 16.15%;
	}

	#u262
	{
		width: 8.03%;
		left: 45.42%;
	}

	#u254
	{
		margin-right: -10000px;
		width: 8.03%;
		left: 77.19%;
	}

	#pu388-4
	{
		margin-top: 30px;
		position: relative;
		width: 100%;
	}

	#u388-4
	{
		margin-top: 3px;
		width: 21.98%;
		left: 9.17%;
	}

	#u352-4,#u391-4
	{
		margin-top: 4px;
		width: 19.17%;
		left: 39.9%;
	}

	#u358-4,#u394-4
	{
		width: 24.07%;
		left: 69.17%;
	}

	#u944,#u944-bw
	{
		min-height: 800px;
	}

	#u947
	{
		height: 65px;
	}

	#u947-bw
	{
		margin-top: 104px;
		height: 65px;
	}

	#u946-4
	{
		margin-top: 117px;
		width: 95.84%;
		left: 2.09%;
	}

	#u962
	{
		margin-top: 1002px;
		width: 10.32%;
		left: 57.19%;
	}

	#u964
	{
		margin-top: 1002px;
		width: 10.32%;
		left: 33.96%;
	}

	#u966
	{
		margin-top: 990px;
		width: 11.57%;
		left: 15.21%;
	}

	#u971
	{
		padding-bottom: 23px;
		margin-top: 902px;
		width: 12.92%;
		left: 74.69%;
	}

	#u182
	{
		margin-top: 257px;
		width: 12.92%;
		left: 13.76%;
	}

	#pu944,#u346-4_img,#u897,#u831,#u903,#u843
	{
		width: 100%;
	}

	#u908
	{
		padding-bottom: 26px;
		width: 100%;
	}

	#u239
	{
		margin-top: 27px;
		width: 57.26%;
		left: 21.78%;
	}

	#u224
	{
		margin-right: -10000px;
		margin-top: 283px;
		width: 7.4%;
		left: 77.5%;
	}

	#u232
	{
		margin-top: 283px;
		width: 7.4%;
		left: 45.73%;
	}

	#u307
	{
		margin-top: 847px;
		width: 10.32%;
		left: 57.19%;
	}

	#u315
	{
		margin-top: 847px;
		width: 10.32%;
		left: 33.96%;
	}

	#u327
	{
		margin-top: 835px;
		width: 11.57%;
		left: 15.21%;
	}

	#u400-4
	{
		margin-top: 956px;
		width: 21.98%;
		left: 9.17%;
	}

	#u406-4
	{
		margin-top: 960px;
		width: 21.98%;
		left: 28.03%;
	}

	#u412-4
	{
		margin-top: 960px;
		width: 21.98%;
		left: 51.36%;
	}

	#u294
	{
		margin-top: 747px;
		width: 12.92%;
		left: 74.69%;
	}

	#u972,#u297
	{
		width: 62.1%;
		left: 19.36%;
	}

	#pu961
	{
		margin-bottom: -62px;
		margin-top: -224px;
	}

	#pu968-4
	{
		margin-right: -10000px;
		margin-top: 163px;
		width: 40.84%;
		margin-left: 9.17%;
	}

	#u968-4
	{
		width: 53.83%;
	}

	#u969-4
	{
		width: 53.83%;
		left: 46.18%;
	}

	#u970-4
	{
		margin-top: 163px;
		width: 21.98%;
		left: 51.36%;
	}

	#pu974-4
	{
		margin-right: -10000px;
		margin-top: 250px;
		width: 7.82%;
		margin-left: 90.11%;
	}

	#u974-4
	{
		margin-top: 1px;
		width: 100%;
	}

	#u975
	{
		width: 24%;
		left: 4%;
	}

	#u961-bw
	{
		min-height: 266px;
		margin-top: 62px;
	}

	#u179_align_to_page
	{
		max-width: 960px;
	}

	#u434-4
	{
		width: 7.82%;
		left: 90.11%;
	}

	#u427
	{
		margin-top: 250px;
		width: 1.88%;
		left: 90.42%;
	}

	#u976-4,#u430-4
	{
		width: 44.45%;
		left: 27.78%;
	}

	#u961,#u179,#u179-bw
	{
		min-height: 266px;
	}

	.verticalspacer
	{
		min-height: 75px;
	}
}

@media (max-width: 323px)
{
	#muse_css_mq
	{
		background-color: #000143;
	}

	#bp_323.active
	{
		display: block;
	}

	#page
	{
		min-height: 538px;
		padding-bottom: 62px;
		max-width: 323px;
	}

	#pu944
	{
		width: 0.01px;
	}

	#u944
	{
		min-height: 799.8610416123931px;
		padding-bottom: 0px;
	}

	#u944_align_to_page
	{
		padding-bottom: 318px;
	}

	#u945
	{
		height: 44px;
		width: 16.41%;
		left: 40.56%;
	}

	#pu971
	{
		margin-top: 81px;
		position: relative;
		width: 100%;
	}

	#u971
	{
		padding-bottom: 24px;
		margin-top: 148px;
		width: 13.01%;
		left: 77.71%;
	}

	#u182
	{
		margin-top: 4px;
		width: 13.01%;
		left: 12.08%;
	}

	#u182_position_content
	{
		padding-bottom: 3px;
		width: 100%;
	}

	#u346-4
	{
		width: 100%;
	}

	#u269
	{
		margin-top: 5px;
		width: 61.91%;
		margin-left: 19.05%;
	}

	#u897
	{
		height: 77px;
		margin-top: 91px;
		width: 13.01%;
		left: 12.08%;
	}

	#u831
	{
		margin-top: 4px;
		width: 13.01%;
		left: 40.56%;
	}

	#u831_position_content
	{
		margin-bottom: -6px;
		width: 100%;
	}

	#pu239,#pu232
	{
		width: 147.62%;
		margin-left: -23.81%;
	}

	#u239,#u232
	{
		margin-top: 10px;
		width: 38.71%;
		left: 30.65%;
	}

	#pu262
	{
		margin-top: -3px;
		width: 147.62%;
		margin-left: -23.81%;
	}

	#u262
	{
		margin-top: 8px;
		width: 41.94%;
		left: 29.04%;
	}

	#u346-4_img,#u352-4,#u391-4
	{
		width: 98.39%;
	}

	#u903
	{
		height: 77px;
		margin-top: 91px;
		width: 13.01%;
		left: 40.56%;
	}

	#u843
	{
		padding-top: 10px;
		padding-bottom: 3px;
		margin-top: 4px;
		width: 13.01%;
		left: 72.76%;
	}

	#u224
	{
		width: 57.15%;
		margin-left: 21.43%;
	}

	#u254
	{
		margin-top: 15px;
		width: 61.91%;
		margin-left: 19.05%;
	}

	#u908
	{
		margin-top: 91px;
		width: 13.01%;
		left: 72.76%;
	}

	#u294
	{
		margin-bottom: -7px;
		margin-top: 11px;
		width: 100%;
		left: 14.29%;
	}

	#u972,#u297
	{
		width: 61.91%;
		left: 19.05%;
	}

	#u307
	{
		margin-top: 203px;
		width: 10.22%;
		left: 57.28%;
	}

	#u315
	{
		margin-top: 203px;
		width: 10.22%;
		left: 34.06%;
	}

	#u327
	{
		margin-top: 191px;
		width: 11.46%;
		left: 15.18%;
	}

	#u388-4
	{
		margin-top: 43px;
		width: 21.68%;
		left: 7.44%;
	}

	#u400-4
	{
		margin-top: 184px;
		width: 21.68%;
		left: 9.29%;
	}

	#u406-4
	{
		margin-top: 184px;
		width: 21.68%;
		left: 28.18%;
	}

	#u412-4
	{
		margin-top: 184px;
		width: 21.68%;
		left: 51.4%;
	}

	#u358-4
	{
		width: 27.56%;
		left: 65.33%;
	}

	#u394-4
	{
		margin-top: 40px;
		width: 23.84%;
		left: 67.19%;
	}

	#pu966
	{
		top: -9px;
		margin-bottom: -9px;
		position: relative;
		width: 100%;
	}

	#u966
	{
		width: 11.46%;
		left: 18.27%;
	}

	#u964
	{
		margin-top: 12px;
		width: 10.22%;
		left: 37.16%;
	}

	#u962
	{
		margin-top: 12px;
		width: 10.22%;
		left: 60.38%;
	}

	#pu968-4
	{
		margin-top: 14px;
		position: relative;
		width: 100%;
	}

	#u968-4
	{
		width: 21.68%;
		left: 12.39%;
	}

	#u969-4
	{
		width: 21.68%;
		left: 31.27%;
	}

	#u970-4
	{
		width: 21.68%;
		left: 54.49%;
	}

	#u944-bw
	{
		min-height: 799.8610416123931px;
	}

	#u947
	{
		min-height: 37px;
	}

	#u947_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u946-4
	{
		margin-bottom: -11px;
		margin-top: 11px;
		width: 95.67%;
		left: 2.17%;
	}

	#u947-bw
	{
		min-height: 37px;
		margin-top: 50px;
	}

	#pu961
	{
		margin-top: -428px;
	}

	#u974-4
	{
		margin-top: 251px;
		width: 7.74%;
		left: 93.19%;
	}

	#u975
	{
		margin-top: 251px;
		width: 1.86%;
		left: 93.5%;
	}

	#u961-bw
	{
		min-height: 275px;
		margin-top: 78px;
	}

	#u179_align_to_page
	{
		max-width: 323px;
	}

	#u434-4
	{
		width: 7.74%;
		left: 90.1%;
	}

	#u427
	{
		margin-top: 251px;
		width: 1.86%;
		left: 90.41%;
	}

	#u976-4,#u430-4
	{
		width: 50%;
		left: 33.34%;
	}

	#u961,#u179,#u179-bw
	{
		min-height: 275px;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}
}

