	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u185
	{
		min-height: 799.6500000000001px;
		padding-bottom: 0px;
	}

	#u185_align_to_page
	{
		padding-bottom: 219px;
	}

	#u104
	{
		height: 95px;
		width: 19.17%;
		left: 40.42%;
	}

	#u145-4
	{
		margin-top: 343px;
		width: 26.98%;
		left: 34.8%;
	}

	#u143
	{
		width: 30.42%;
		left: 34.8%;
	}

	#u739
	{
		width: 5.63%;
		left: 48.34%;
	}

	#u185-bw
	{
		min-height: 799.6500000000001px;
	}

	#u169
	{
		height: 65px;
	}

	#u169-bw
	{
		margin-top: 104px;
		height: 65px;
	}

	#u175-4
	{
		margin-top: 117px;
		width: 95.84%;
		left: 2.09%;
	}

	#u142
	{
		margin-right: -10000px;
		margin-top: 349px;
		width: 30.42%;
		left: 34.8%;
	}

	#u144-4
	{
		margin-right: -10000px;
		margin-top: 318px;
		width: 26.98%;
		left: 34.8%;
	}


