	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 600px;
		max-width: 960px;
	}

	#u944_align_to_page
	{
		padding-bottom: 125px;
	}

	#u945
	{
		height: 95px;
		width: 19.17%;
		left: 40.42%;
	}

	#pu346-4
	{
		margin-top: 291px;
		position: relative;
		width: 100%;
	}

	#u346-4
	{
		margin-top: 4px;
		width: 19.17%;
		left: 10.63%;
	}

	#pu269
	{
		margin-top: 65px;
		position: relative;
		width: 100%;
	}

	#u269
	{
		margin-right: -10000px;
		width: 8.03%;
		left: 16.15%;
	}

	#u262
	{
		width: 8.03%;
		left: 45.42%;
	}

	#u254
	{
		margin-right: -10000px;
		width: 8.03%;
		left: 77.19%;
	}

	#pu388-4
	{
		margin-top: 30px;
		position: relative;
		width: 100%;
	}

	#u388-4
	{
		margin-top: 3px;
		width: 21.98%;
		left: 9.17%;
	}

	#u352-4,#u391-4
	{
		margin-top: 4px;
		width: 19.17%;
		left: 39.9%;
	}

	#u358-4,#u394-4
	{
		width: 24.07%;
		left: 69.17%;
	}

	#u944,#u944-bw
	{
		min-height: 800px;
	}

	#u947
	{
		height: 65px;
	}

	#u947-bw
	{
		margin-top: 104px;
		height: 65px;
	}

	#u946-4
	{
		margin-top: 117px;
		width: 95.84%;
		left: 2.09%;
	}

	#u962
	{
		margin-top: 1002px;
		width: 10.32%;
		left: 57.19%;
	}

	#u964
	{
		margin-top: 1002px;
		width: 10.32%;
		left: 33.96%;
	}

	#u966
	{
		margin-top: 990px;
		width: 11.57%;
		left: 15.21%;
	}

	#u971
	{
		padding-bottom: 23px;
		margin-top: 902px;
		width: 12.92%;
		left: 74.69%;
	}

	#u182
	{
		margin-top: 257px;
		width: 12.92%;
		left: 13.76%;
	}

	#pu944,#u346-4_img,#u897,#u831,#u903,#u843
	{
		width: 100%;
	}

	#u908
	{
		padding-bottom: 26px;
		width: 100%;
	}

	#u239
	{
		margin-top: 27px;
		width: 57.26%;
		left: 21.78%;
	}

	#u224
	{
		margin-right: -10000px;
		margin-top: 283px;
		width: 7.4%;
		left: 77.5%;
	}

	#u232
	{
		margin-top: 283px;
		width: 7.4%;
		left: 45.73%;
	}

	#u307
	{
		margin-top: 847px;
		width: 10.32%;
		left: 57.19%;
	}

	#u315
	{
		margin-top: 847px;
		width: 10.32%;
		left: 33.96%;
	}

	#u327
	{
		margin-top: 835px;
		width: 11.57%;
		left: 15.21%;
	}

	#u400-4
	{
		margin-top: 956px;
		width: 21.98%;
		left: 9.17%;
	}

	#u406-4
	{
		margin-top: 960px;
		width: 21.98%;
		left: 28.03%;
	}

	#u412-4
	{
		margin-top: 960px;
		width: 21.98%;
		left: 51.36%;
	}

	#u294
	{
		margin-top: 747px;
		width: 12.92%;
		left: 74.69%;
	}

	#u972,#u297
	{
		width: 62.1%;
		left: 19.36%;
	}

	#pu961
	{
		margin-bottom: -62px;
		margin-top: -224px;
	}

	#pu968-4
	{
		margin-right: -10000px;
		margin-top: 163px;
		width: 40.84%;
		margin-left: 9.17%;
	}

	#u968-4
	{
		width: 53.83%;
	}

	#u969-4
	{
		width: 53.83%;
		left: 46.18%;
	}

	#u970-4
	{
		margin-top: 163px;
		width: 21.98%;
		left: 51.36%;
	}

	#pu974-4
	{
		margin-right: -10000px;
		margin-top: 250px;
		width: 7.82%;
		margin-left: 90.11%;
	}

	#u974-4
	{
		margin-top: 1px;
		width: 100%;
	}

	#u975
	{
		width: 24%;
		left: 4%;
	}

	#u961-bw
	{
		min-height: 266px;
		margin-top: 62px;
	}

	#u179_align_to_page
	{
		max-width: 960px;
	}

	#u434-4
	{
		width: 7.82%;
		left: 90.11%;
	}

	#u427
	{
		margin-top: 250px;
		width: 1.88%;
		left: 90.42%;
	}

	#u976-4,#u430-4
	{
		width: 44.45%;
		left: 27.78%;
	}

	#u961,#u179,#u179-bw
	{
		min-height: 266px;
	}

	.verticalspacer
	{
		min-height: 75px;
	}

